.news-list {
  display: flex;
  flex-direction: column;
}

.news-list__heading {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.news-list__items {
  list-style: none;
  display: grid;
  gap: 1rem 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1024px) {
  .news-list__items {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 468px) {
  .news-list__items {
    grid-template-columns: 1fr;
  }
}

.news-item {
  /* max-width: 40rem; */
  position: relative;
  background-color: rgba(180, 237, 220, 0.829);
  border-radius: 0.875rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-item__img-container {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.news-item__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.news-item__img:hover {
  transform: scale(1.2);
  transform-origin: center center;
}

.news-item__img-tag {
  position: absolute;
  padding: 0.5rem 1rem;
  background-color: red;
  color: white;
  border-radius: 2rem;
  bottom: 1rem;
  left: 1rem;
}

.news-item__category {
  padding: 0.5rem 1rem;
  background-color: white;
  width: 10rem;
  text-align: center;
  border-radius: 1.75rem;
  border: 1px solid rgba(112, 105, 105, 0.558);
  color: gray;
}

.news-item__btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgb(134, 67, 67);
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  box-shadow: 2px 4px 1px 1px gray;
  border-radius: 0.875rem;
  width: 25%;
  transition: all 0.2s ease;
}

.news-item__btn:hover {
  background-color: red;
  box-shadow: 0 2px 1px 1px rgb(183, 177, 177);
}

.news-post {
  max-width: 36rem;
  margin: 3rem auto;
  padding: 2rem;
  background: rgb(181, 217, 149);
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 /0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.news-post__heading {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 500;
  color: #36533c;
  margin-bottom: 1.75rem;
}

.news-post__form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.news-post__label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #4b5563;
}

.news-post__input {
  padding: 0.75rem 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  color: #1f2937;
  transition: all 0.2s ease;
}
.news-post__input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.news-post__textarea {
  min-height: 8rem;
  resize: vertical;
  padding: 0.75rem 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  color: #1f2937;
  transition: all 0.2s ease;
}

.news-post__btn {
  padding: 0.75rem 1.5rem;
  background-color: #3b82f6;
  color: white;
  font-weight: 500;
  border: 1px solid rgb(59, 49, 84);
  transition: all 0.2s ease;
  border-radius: 0.5rem;
}

.news-post__btn:hover {
  background-color: #2563eb;
}

.news-post__btn:disabled {
  background-color: #9ca3af;
  border: none;
}

.news-post__btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.news-detail {
  max-width: 50rem;
  margin: 2rem auto;
}

.news-detail__heading {
  text-align: center;
  font-weight: 500;
  font-size: 1.75rem;
  color: #4a5671;
}

.news-detail__article {
  background-color: rgba(255, 255, 255, 0.41);
  border-radius: 0.75rem;
  padding: 2rem;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.311),
    0px 0px 1px -2px rgba(0, 0, 0, 0.1);

  min-height: 40rem;
  color: rgb(146, 113, 113);
}

.news-detail_article-heading {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
  color: rgb(35, 25, 57);
}

.news-detail__image-container {
  width: 100%;
  height: auto;
  border-radius: 0.875rem;
  overflow: hidden;
  position: relative;
}

.news-detail__image {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.news-detail__image:hover {
  transform: scale(1.25);
}

.news-detail__category {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.75rem 1rem;
  background-color: white;
  border-radius: 1.75rem;
  width: 11rem;
  text-align: center;
  background-color: rgb(33, 110, 158);
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.25rem;
  transition: all 0.2s ease;
}

.news-detail__category:hover {
  background-color: blue;
  color: white;
}

.news-detail__content {
  margin: 2rem 0;
}
