.news {
  background: linear-gradient(
    -15deg,
    rgba(255, 213, 0, 0.799),
    rgba(255, 0, 0, 0.7)
  );
  padding: 2rem;
}

.news__heading {
  font-size: 1.75rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.news__heading::before,
.news__heading::after {
  content: "";
  border-bottom: 1px solid black;
  height: 1px;
  width: 5rem;
}

.news__list {
  margin: 2rem 0;
}

.news__list-heading {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.news__list-heading::before,
.news__list-heading::after {
  content: "";
  border-bottom: 1px solid black;
  width: 5rem;
  height: 1px;
}

.news__list-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  gap: 2rem 2rem;
}

@media (max-width: 728px) {
  .news__list-ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 488px) {
  .news__list-ul {
    grid-template-columns: 1fr;
  }
}

.post {
  max-width: 40rem;
  margin: 8rem auto;
  background-color: aliceblue;
  padding: 2rem;
  border-radius: 1.25rem;
}
.post__heading {
  color: rgb(92, 88, 124);
  margin-bottom: 2rem;
}

.post__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post__item {
  display: flex;
  flex-direction: column;
}

.post__label {
  font-weight: 500;
  color: rgb(160, 106, 106);
}

.post__input {
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
}

.post__input:focus {
  outline: 2px solid red; /* アウトラインの色を indigo に設定 */
  border: none;
}

.post__textarea {
  resize: vertical;
  min-height: 10rem;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
}

.post__textarea:focus {
  outline: 2px solid red;
  border: none;
}

.post__btn-container {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
}

.post__btn {
  padding: 1.25rem 2rem;
  color: white;
  background-color: rgb(76, 76, 174);
  border: none;
  box-shadow: 1px 2px 2px 1px black, 0px 0px 2px -2px black;
  width: 8rem;
  border-radius: 1.25rem;
}

.post__btn:hover {
  background-color: blue;
  box-shadow: 0px 1px 1px 1px black;
}

.post__btn:disabled {
  background-color: gray;
  box-shadow: none;
  cursor: not-allowed;
}

.news__item {
  background-color: white;
  padding: 1rem;
  border-radius: 1.75rem;
}

.news__item-field {
  width: 100%;
  height: auto;
  position: relative;
}

.news__item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__item-tag {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.75rem 1rem;
  background-color: red;
  color: white;
  border-radius: 1.75rem;
}

.news__item-btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0.75rem 1rem 0;
}

.news__item-btn {
  padding: 0.75rem 1rem;
  border-radius: 1.5rem;
  color: white;
  background-color: white;
}

.news-detail {
  max-width: 40rem;
  margin: 2rem auto;
  background-color: rgb(252, 252, 252);
  min-height: 40rem;
}

.news-detail__heading {
  text-align: center;
  padding: 2rem 0;
}

.news-detail__item-heading {
  font-size: 1.75rem;
  font-weight: 600;
}

.news-detail__field {
  border-radius: 1.75rem;
  padding: 1rem 1rem;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.news-detail__image {
  width: 100%;
  height: 100%;
}

.news-detail__p {
  padding: 0 1rem;
  line-height: 2rem;
  font-size: 1rem;
  color: rgb(74, 71, 102);
}
