.m-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-list-container {
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
}

.article-list-container h1 {
  width: 100%;
  text-align: left;
  margin-bottom: 4rem;
  padding-left: 2rem;
}

.article-list-container ul {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.article-list-container ul li {
  list-style: none;
  border-bottom: 1px solid #c7cee0;
  padding-bottom: 0.5rem;
}

.article-list-container ul li:first-child {
  padding-top: 1rem;
  border-top: 1px solid #c7cee0;
}

.article-item-container {
  display: flex;
  align-items: center;
}

.article-item-container .time {
  color: #757575;
}

.article-item-container .category {
  color: #757575;
  font-weight: 300;
  margin-left: 3rem;
  width: 180px;
  text-align: center;
  padding: 4px 20px;
  border: 1px solid black;
  border-radius: 1rem;
  transition: all 0.2s ease;
}

.article-item-container .category:hover {
  background-color: rgb(142, 142, 142);
  color: white;
}

.article-item-container .title {
  padding-left: 5rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: #2f354e;
}

.article-item-container .title:hover {
  color: rgba(62, 143, 143, 0.585);
}

.article-item-container .delete-btn {
  margin-left: 2rem;
  padding: 0.5rem;
  color: white;
  background-color: palevioletred;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px #2f354e;
}

.article-item-container .delete-btn:hover {
  background-color: red;
  box-shadow: 0 1px 2px #2f354e;
}

.article-form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5rem auto;
  padding: 20px;
  background-color: #f9f9ff;
  border-radius: 8px;
  box-shadow: 0 4px 8px black;
}

.article-form-group {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}

.article-form-group label {
}
