/* .header {
  height: 80px;
  background-color: rgba(45, 39, 39, 0.84);
  color: rgba(177, 163, 163, 0.855);
  display: flex;
  align-items: center;
}

.header__heading {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 4rem;
  font-weight: 600;
  color: white;
}

.header__title:hover {
  transform: scale(1.2);
}

.header__nav {
  display: flex;
  position: absolute;
  right: 1rem;
  font-size: 2rem;
}

.header__item {
  padding: 0 0.875rem;
  transition: all 0.2s ease;
}

.header__item:hover {
  color: white;
  box-shadow: 0 4px 8px rgba(43, 255, 0, 0.5);
} */

.header {
  height: 5rem;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
}

.header__heading {
  position: fixed;
  top: 1;
  left: 1rem;
  font-size: 2rem;
  font-weight: 600;
  z-index: 100;
}

/* .header__heading {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
} */

/* .header__heading {
  position: relative;
  top: -1rem;
  left: -1rem;
} */

.header__nav {
  display: flex;
  gap: 1rem;
}

.header__item {
  font-size: 1rem;
  font-weight: 500;
}

.header__item:hover {
  color: red;
}
