.header {
  position: relative;
}

.header__header {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 10px;
  color: rgba(114, 165, 232, 0.914);
}

.header__nav {
  /* margin: 0 -10px; */
  height: 80px;
  display: flex;
  background: linear-gradient(#301f4e, #1b3a55);
}

.header__list {
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 20px 0 auto;
}

.header__item {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0 10px;
}
